@use 'variaveis';

.header {
    position: sticky;
    top: 0;
    left: 0;
    background-color: variaveis.$corDeFundo;
    transition: background-color .5s ease;
    z-index: 1;

    &--is-hidden {
        background-color: transparent;

        .header {
            &__logo, &__links__item:first-child {
                opacity: 0;
                visibility: hidden;
                transition: opacity .5s ease;
            }

            img {
                height: auto;
                width: auto;
            }
        }
    }

    &__container {
        padding: 8px 36px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap; 
        @media (max-width: 768px) {
            padding: 0 12px;
            flex-direction: row;
        }
    }

    &__logo {
        max-width: 80px;
        width: 100%;
        margin: 0;
        transition: opacity .5s ease;

        @media (max-width: 768px) {
            max-width: 64px;
            margin: 0 10px;
        }
    }

    &__links { 
        display: flex;
        align-items: center;
        flex-wrap: nowrap;

        @media (max-width: 768px) {
            flex-direction: row; 
            white-space: nowrap; 
            width: auto; 
        }

        &__item {
            margin: 0 10px;
            transition: opacity .5s ease;
            font-size: 16px;
            color: variaveis.$corTextoPrincipal;
            text-transform: uppercase;

            @media (max-width: 768px) {
                margin: 0 8px; 
                font-size: 14px; 
            }
        }
    }

    .button {
        height: 50px;
    }

    img {
        width: 100%;
        height: auto; 
        object-fit: cover; 

        @media (max-width: 768px) {
            width: 100%; 
            height: auto; 
        }
    }
}

