@use 'variaveis';
@use 'header';
@use 'hero';
@use 'conteudo';
@use 'shows';
@use 'footer';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Tipografia */
body {
    font-family: Arial, sans-serif;
    background-color: variaveis.$corTextoSecundario;
    color: variaveis.$corTextoSecundario;
}

.header {
    background-color: variaveis.$corDeFundoBotaoPrimario;
    color: variaveis.$corTextoSecundario;
    padding: 10px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    transition: top 0.3s;
}

.header--is-hidden {
    top: -100px;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.header__logo {
    height: 50px;
}

.header__links {
    list-style: none;
    display: flex;
}

.header__links__item {
    margin-left: 20px;
}

.header__links__item a {
    text-decoration: none;
    color: variaveis.$corTextoSecundario;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.header__links__item a:hover {
    background-color: variaveis.$corDeFundoBotaoSecundario;
}

.title--small {
    font-size: 1.5rem;
}
