@use 'variaveis';
@use 'hero';
@use 'shows';
@use 'footer';
@use 'header';

* {
    margin: 0;
    padding: 0;
    max-width: 100%;
    box-sizing: border-box;
    font-family: sans-serif;
    list-style: none;
}

body {
    background-color: variaveis.$corDeFundo;
    color: variaveis.$corTextoPrincipal;
    line-height: 1.5;
}

.header {
    position: sticky;
    top: 0;
    left: 0;
    background-color: variaveis.$corDeFundo;
    transition: background-color .5s ease;
    z-index: 1;

    &__container {
        padding: 8px 36px;
        display: flex;
        justify-content: space-between;

        @media (max-width: 768px) {
            padding: 0 12px 0 20px;
        }
    }

    &__logo {
        max-width: 80px;
        width: 100%;
        margin: 5px;
        transition: opacity .5s ease;

        @media (max-width: 768px) {
            max-width: 64px;
        }
    }

    &__links {
        display: flex;

        &__item {
            margin: 5px;
            transition: opacity .5s ease;
        }
    }

    .button {
        height: 50px;
    }
}

.hero {
    padding: 5.6vw;
    min-height: 80vh;
    background-image: url(../images/hero/hero_1_desktop.png);
    text-align: center;
    background-size: cover;

    @media (max-width: 768px) {
        background-image: url(../images/hero/hero_mobile.png);
        padding-top: calc(50vw + 25px);
        background-size: contain;
        background-repeat: no-repeat;
        margin-top: -55px;
    }

    .button {
        margin-top: 2vw;
        margin-bottom: 8px;
    }

    &__content {
        max-width: 640px;
        margin: 0 auto;
        color: variaveis.$corTextoSecundario;

        &__branding {
            max-width: 320px;
            margin: 0 auto 38px;

            @media (max-width: 768px) {
                max-width: 180px;
            }
        }

        .title--small {
            margin-bottom: 64px;
            color: variaveis.$corTextoSecundario;
        }
    }
}

.films {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1024px;
    padding: 20px 0;

    .film {
        max-width: 320px;
        margin-bottom: 20px;
        padding: 10px;
        text-align: center;

        h3 {
            color: variaveis.$corTextoSecundario;
        }
    }
}

.series {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1024px;
    padding: 20px 0;

    .serie {
        max-width: 320px;
        margin-bottom: 20px;
        padding: 10px;
        text-align: center;

        h3 {
            color: variaveis.$corTextoSecundario;
        }
    }
}

.footer {
    padding: 26px 8px;
    background-color: variaveis.$corDeFundoBotaoDark;
    color: variaveis.$corTextoSecundario;
    
    &__container {
        max-width: 1024px;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        padding-bottom: 20px;
    }

    &__links {
        margin-bottom: 16px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;

        &__item {
            display: inline-block;
            
            a {
                text-decoration: none;
                color: variaveis.$corTextoPrincipal;
                padding: 8px 16px;
                display: block;

                &:hover {
                    color: variaveis.$corTextoSecundario;
                }
            }
        }

        p {
            margin-bottom: 16px;
        }
    }
}