$corDeFundo: #353b48;
$corDeFundoSecundario: #bd0000;
$corTextoPrincipal: #7f8fa6;
$corTextoSecundario: #f5f6fa;
$corDeFundoBotaoPrimario: #192a56;
$corDeFundoBotaoSecundario: #38466a;
$corDeFundoBotaoDark: #000;
